.call-request {
  background-color: #002d5b;
}

.call-request input[type="text"] {
  height: 50px;
  width: 50%;
  background-color: #002d5b;
}
@media (max-width: 1000px) {
  .call-request input[type="text"] {
    width: 90%;
  }
}
