body {
  margin: 0;
}
.btn-theme {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #ff656a;
  border: 2px solid #ff656a; /* green-color :#31d679 */
  text-decoration: none;
}
.btn-theme:hover {
  background-color: #ff656a;
  color: white;
}
